<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
			<h4 style="margin-top:20px">Ubah Jabatan</h4>
			<form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
				<input type="hidden" name="id" th:value="*{id}" />			
				<table class="table">
					<tr>
						<td>Nama</td>
						<td><input type="text" name="nama" th:value="*{nama}"/></td>
					</tr>
					<tr>
						<td>Deskripsi</td>
						<td><input type="text" name="deskripsi" th:value="*{deskripsi}"/></td>
					</tr>
					<tr>
						<td>Gaji Pokok</td>
						<td><input type="number" name="gajiPokok" th:value="*{gajiPokok}"/></td>
					</tr>
				</table>
				<input class="btn btn-primary" type="submit" value="Simpan" style="margin:15px">
			</form>
		</div>
		<footer th:replace="fragments/fragment :: footer"></footer>	
	</body>
</html>