<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<h4 style="margin-top: 20px">List Semua Jabatan</h4>
		<table class="table" id="hasil">
			<thead>
				<th>Nama</th>
				<th>Deskripsi</th>
				<th>Gaji Pokok</th>
			</thead>
			<span th:each="jabatan : ${listJabatan}">
				<tr>
					<td th:text="${jabatan.nama}"></td>
					<td th:text="${jabatan.deskripsi}"></td>
					<td th:text="${jabatan.gajiPokok}"></td>
				</tr>
			</span>
		</table>
	</div>
	<footer th:replace="fragments/fragment :: footer"></footer>
</body>
<script th:inline="javascript">
	$(document).ready(function() {
		$('#hasil').DataTable();
	});
</script>
</html>